<div style="width: 70%; float: right;">
<%= page.layout %>
<%= page.title %>
<%- page.content %>
</div>

<style>

    .table tr {
        border: 1px solid grey;
        border: collapse;
    }
    .table td {
        /* border: 1px solid grey; */
        /* border: collapse; */
    }
    .info{
        line-height: 8px;
        text-align: center;
        /* border-collapse: separate; */
    }
</style>



<div style="width: 30%; float: left;">
    <table width= "80%" style="float: left;" class="table" border="1" cellpadding="0" cellspacing="0">
        <tr class="info" >
            <td colspan="2"><img src="../img/headpic.jpg" style="border-radius: 120px" height="120x" width="120px" align="middle">
            <h3>Boen Wang</h3>
            <p>Student</p>
            <p>San Jose, California</p>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                    <h2 style="font-family: sans-serif; text-align: center">CONTACT ME!</h2>
                    <p style="text-align: center; margin: auto">I hope you enjoyed looking through my website and learned more about me. If you have any questions regarding me or suggestions for my website, feel free to contact me with the methods below.</p>
            </td>
        </tr>
        <tr>
            <td colspan="2"> <p style="text-align: center"><img src="../img/gmail.png" width="30px" height="20px">Email me at: boenwang007@gmail.com</p></td>
            
        </tr>
        <tr>
                <td colspan="2"><p style="text-align: center"><a href="https://www.facebook.com/profile.php?id=100008299836019" target="_blank"><img src="../img/fb.jpg"  width="40px" height="30px">Click here for my Facebook homepage</a></p></td>>

        </tr>
    </table>
</div>